* {
    font-family: 'Montserrat', sans-serif;
    margin-top: 4%;
    background-color:mistyrose;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: xx-large;
}

span {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 90px;
    font-weight: 600;
}

.container {
    justify-content: center;
    display: flex;
    text-align: center;
}

button {
    padding: 10px;
    border-radius: 15px;
    margin-right: 20px;
    font-size: x-large;
    font-weight: 600;
    border: 0;
}

#increase:hover {
    background-color:lightsteelblue

}

#decrease:hover {
    background-color: orangered;
}

#reset:hover {
    background-color:snow;
}
